<% if @message != 'project deleted' %>

  <h2><%= @project.title %></h2>
   <form action="/projects/<%=@project.id%>/edit" method="post">
    <input type="hidden" name="_method" value="patch">

    <input type="text" name="title" placeholder="New Title">

    <button type="submit" name="edit-btn">Update Project</button>
   </form>

  <form action="/projects/<%=@project.id%>/edit" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" name="delete-btn">Delete Project</button>
  </form>

 <% end %>

 <p><%= @message %></p>
 <a href="/">Home</a>
